
* {
    margin: 0px;
    padding: 0px;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#container {
    width: 1200px;    
    background-color: #fff;
    margin: 50px auto;
}

#container #header {
    width: 100%;
    height: 200px;
}

#container #header img {
    width: 100%;
    height: 200px;
}

#container #menu {
    width: 100%;
}

#container #content {
    width: 100%;    
}

#container #content #content-main {
    width: 70%;
    float: left;
}

#container #content #banner {
    width: 30%;
    float: left;
}

#container #contato {
    margin-top: 15%;
}
#container #sobre {
    margin-top: 16%;
}
#container #footer {
    width: 100%;
    height: 80px;
    clear: both;
}

/**CSS PARA PARA O MENU**/

#container #menu ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#container #menu ul li {
    float: left;
}

#container #menu ul li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#container #menu ul li a:hover {
    background-color: #111;
}

/***CSS PARA O BANNER ***/

#container #content #content-banner img {
    width:100%;
}

#container #footer {
   
    text-align: center;
}

#container #footer span { 
    position: relative;
    top: 40%;
}

#img {
  

}

 .empresa {
    position: relative;
    display: inline-block;
}

.empresa-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.empresa:hover .empresa-content {
    display: block;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.coluna{
    
}